# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# File created by todolistmaker
helper/todolist.md

# CompileDb files
compile_commands.json

# Files made by compilation
build*/*
build-aux/*
.cache/
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
configure~
src/parse/parsetiger.html
src/parse/parsetiger.output
src/parse/parsetiger.xml
tests/Makefile.in

parsetiger.tab.cc
parsetiger.tab.hh
location.hh.bak

src/parse/parsetiger.cc
src/parse/parsetiger.hh

*.bak

# CLion files
.idea/
config.h.in~

#trashfiles
src/parse/location.hh
src/parse/location.hh.bak
todolist.md
tcsh/python/swig.mk
